.my-masonry-grid {
  display: flex;
  margin-left: -20px;
}
.my-masonry-grid_column {
  border-left: 20px solid transparent;
  background-clip: padding-box;
}

/* Style your items */
.my-masonry-grid_column > div {
  /* change div to reference your elements you put in <Masonry> */
  background: #dddd;
  text-align: center;
  margin-bottom: 20px;
}
.my-masonry-grid_column > div > a {
  display: block;
  padding: 20px;
  color: #333;
  text-decoration: none;
  background: #ddd;
}

.my-masonry-grid_column > div > a:hover {
  color: #000;
  text-decoration: underline;
  background-color: #eee;
}
.character {
  width: 320px;
  height: 427px;
}
.char-name {
  padding: 10px 0;
  font-size: 16px;
}

button{
  background-color: #f5f5f5;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  color: #333;
  font-size: 14px;
  font-weight: bold;
  padding: 10px 20px;
  cursor: pointer;
}
button:hover{
  background-color: #e5e5e5;
}

